<div id="sidebar-nav" class="sidebar">
	<div class="sidebar-scroll">
		<nav>
			<ul class="nav">
				<li>
					<a [routerLink]="['/layout/dashboard']" class="active">
						<i class="lnr lnr-home"></i>
						<span>لوحة التحكم</span>
					</a>
				</li>
				<li>
					<a [routerLink]="['/layout/farm']" >
						<i class="lnr lnr-home"></i>
						<span translate>Farm.PageListName</span>
					</a>
				</li>
				<li>
					<a [routerLink]="['/layout/farm']" >
						<i class="lnr lnr-home"></i>
						<span translate>Farm.PageListName</span>
					</a>
				</li>
				<li>
					<a [routerLink]="['/layout/farm']" >
						<i class="lnr lnr-home"></i>
						<span translate>Farm.PageListName</span>
					</a>
				</li>
				<li>
					<a [routerLink]="['/layout/farm']" >
						<i class="lnr lnr-home"></i>
						<span translate>Farm.PageListName</span>
					</a>
				</li>
				<li>
					<a [routerLink]="['/layout/farm']" >
						<i class="lnr lnr-home"></i>
						<span translate>Farm.PageListName</span>
					</a>
				</li>
				
			</ul>
		</nav>
	</div>
</div>