<div id="sidebar-nav" class="sidebar">
	<div class="sidebar-scroll">
		<nav>
			<ul class="nav">
				<li>
					<a [routerLink]="['/layout/dashboard']" class="active">
						<i class="lnr lnr-home"></i>
						<span>لوحة التحكم</span>
					</a>
				</li>
				<li>
					<a [routerLink]="['/layout/farm']">
						<i class="lnr lnr-home"></i>
						<span translate>Farms</span>
					</a>
				</li>

				<li>
					<a [routerLink]="['/layout/income']">
						<i class="lnr lnr-home"></i>
						<span translate>Incomes</span>
					</a>
				</li>

				<li>
					<a [routerLink]="['/layout/station']">
						<i class="lnr lnr-home"></i>
						<span translate>Stations</span>
					</a>
				</li>
				<li>
					<a [routerLink]="['/layout/outcome']">
						<i class="lnr lnr-home"></i>
						<span translate>Outcomes</span>
					</a>
				</li>
				<li>
					<a [routerLink]="['/layout/transaction/transaction-list']">
						<i class="lnr lnr-home"></i>
						<span translate>Transaction</span>
					</a>
				</li>
				<li>
					<a [routerLink]="['/layout/driver/transfer-list']">
						<i class="lnr lnr-home"></i>
						<span translate>Transfers</span>
					</a>
				</li>
				<li>
					<a [routerLink]="['/layout/selector']">
						<i class="lnr lnr-home"></i>
						<span translate>Selectors</span>
					</a>
				</li>
				<li>
					<a [routerLink]="['/layout/reaper/reaper-detail-list']">
						<i class="lnr lnr-home"></i>
						<span translate>Reaper Detail</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</div>