################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/client-side/src/assets/vendor/@fortawesome/fontawesome-free/css
