/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.auth-box .right .heading{
    font-size: 50px !important;
    font-weight: 600 !important;
    font-family: monospace !important;
}

.btn-group, .btn-group-vertical{
    width: 100%;
}

thead{
    background-color: rgb(252, 152, 4);
    color: white;
}

.fa-list{
    background-color: rgb(241, 245, 248);
    color: rgb(6, 103, 214);
    font-size: 20px;
}

.fa-trash{
    background-color: rgb(241, 245, 248);
    color: rgb(241, 11, 11);
    font-size: 20px;
    
}

.fa-pencil{
    background-color: rgb(241, 245, 248);
    color: rgb(0, 175, 44);
    font-size: 20px;
    
}