/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */

.auth-box .right .heading{
    font-size: 50px !important;
    font-weight: 600 !important;
    font-family: monospace !important;
}

.btn-group, .btn-group-vertical{
    width: 100%;
}

thead{
    background-color: rgb(20, 24, 29);
    color: white;
}

.fa-list{
    background-color: rgb(241, 245, 248);
    color: rgb(6, 103, 214);
    font-size: 20px;
}

.fa-trash{
    background-color: rgb(241, 245, 248);
    color: rgb(241, 11, 11);
    font-size: 20px;
    
}

.fa-pencil{
    background-color: rgb(241, 245, 248);
    color: rgb(0, 175, 44);
    font-size: 20px;
    
}

#SupplierTotal ,#ClientTotal{
    background-color: rgb(57, 82, 129);
    font-weight: bold;
    color: #ffffff;
}

.loss{
    background-color:red !important;
    color: white;
}

.profit{
    background-color:green !important;
    color: white;
}

.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
  }
  
  .icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
    cursor: pointer;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
  }
  
  .input-field:focus {
    border: 2px solid dodgerblue;
  }

  .ng-select {
    width: 100%;
  }

  .panel .panel-body{
    overflow-x: auto;
  }

  .table{
    white-space: nowrap;
  }

  .btn-new-record{
    margin: 0.5%;
    margin-left: 2%;
    background-color: #2B337F;
  }