/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.auth-box .right .heading{
    font-size: 50px !important;
    font-weight: 600 !important;
    font-family: monospace !important;
}

.btn-group, .btn-group-vertical{
    width: 100%;
}