<div class="mainContent">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h2 class="pageTitle" translate>Incomes</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <app-data-list [properties]="properties" [list]="incomeList" (deleteRow)="delete($event)" (editRow)="openModal($event)" (changePagination)="onChangePagination($event)"
        [total]="total" [isReadonly]="'true'">
      </app-data-list>
    </div>
    <div class="col-lg-4">
      <app-data-list [properties]="safeProperties" [list]="incomeList" (deleteRow)="delete($event)" (editRow)="openModal($event)"
        (changePagination)="onChangePagination($event)" [total]="total" [isReadonly]="'true'">
      </app-data-list>
    </div>
  </div>

</div>