<div class="mainContent">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h2 class="pageTitle" translate>Selectors</h2>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
      <button class="btn btn-info btn-new-record" (click)="openModal()" translate >Add new recod</button>
    </div>
  </div>
  <app-data-list [properties]="properties" [list]="selectorList" (deleteRow)="delete($event)" (editRow)="openModal($event)" (changePagination)="onChangePagination($event)"
    [total]="total">
  </app-data-list>
</div>