<div class="container-fluid" id="station-page">
    <h3 class="page-title" translate>Station.PageListName</h3>
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div>
                    <button type="button" [routerLink]="['/layout/station/station-form']" class="btn btn-info btn-lg" translate>Common.AddNewRecord</button>

                </div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th translate>Station.Name</th>
                                <th translate>Station.OwnerMobile</th>
                                <th translate>Station.Address</th>
                                <th translate>Station.Notes</th>
                                <th translate></th>
                            </tr>
                        </thead>
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>
                                    <input type="text" id="name" name="name" [(ngModel)]="searchModel.name" class="form-control" placeholder="{{ 'Station.Name' | translate }}"
                                        (ngModelChange)="getAllStation()">
                                </th>
                                <th>
                                    <input type="text" id="ownerMobile" name="ownerMobile" [(ngModel)]="searchModel.ownerMobile" class="form-control" placeholder="{{ 'Station.OwnerMobile' | translate }}"
                                        (ngModelChange)="getAllStation()">
                                </th>
                                <th>
                                    <input type="text" id="address" name="address" [(ngModel)]="searchModel.address" class="form-control" placeholder="{{ 'Station.Address' | translate }}"
                                        (ngModelChange)="getAllStation()">
                                </th>
                                <th>
                                    <input type="text" id="notes" name="notes" [(ngModel)]="searchModel.notes" class="form-control" placeholder="{{ 'Station.Notes' | translate }}"
                                        (ngModelChange)="getAllStation()">
                                </th>
                                <th translate></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of stationList;let i = index">
                                <td>{{i+1}}</td>
                                <td>{{item.name}}</td>
                                <td>{{item.ownerMobile}}</td>
                                <td>{{item.address}}</td>
                                <td>{{item.notes}}</td>
                                <td>
                                    <i class="fa fa-list" [routerLink]="['/layout/station/station-account-statement',item.Id,item.name]"></i>
                                    <i class="fa fa-pencil" [routerLink]="['/layout/station/station-form',item.Id]"></i>
                                    <i class="fa fa-trash" (click)="showConfirmDialog(item.Id)"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <app-pagination [total]="total" [scroll]="'station-page'" (changePagination)="changePagination($event)">
            </app-pagination>
        </div>
    </div>
</div>