<div mat-dialog-content>
    <h3 class="page-title" translate>Driver</h3>
    <div class="panel">
        <div class="panel-body">
            <form #driverForm="ngForm" (ngSubmit)="save(driverForm)">
                <div class="row">
                    <div class="col-lg-12">
                        <input type="text" id="FullName" name="FullName" [(ngModel)]="driverModel.FullName" class="form-control" placeholder="{{ 'FullName' | translate }}">
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <input type="text" id="Mobile" name="Mobile" [(ngModel)]="driverModel.Mobile" class="form-control" placeholder="{{ 'Mobile' | translate }}">
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <input type="text" id="CarPlate" name="CarPlate" class="form-control" [(ngModel)]="driverModel.CarPlate" placeholder="{{ 'CarPlate' | translate }}">
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-primary" [disabled]="clicked" (click)="save(driverForm);clicked=true" [mat-dialog-close]="true" translate>Yes</button>
                    </div>
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-warning" (click)="hide()" translate>No</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>