<div mat-dialog-content>
    <h3 class="page-title" translate>Safe</h3>
    <div class="panel">
        <div class="panel-body">
            <form #safeForm="ngForm" (ngSubmit)="save(safeForm)">
                <div class="row">
                    <div class="col-lg-12">
                        <input type="text" id="Date" name="Date" [(ngModel)]="safeModel.Date" class="form-control" placeholder="{{ 'Date' | translate }}"
                            #dp="bsDatepicker" bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <label translate>Account Tree</label>
                        <div class="input-container">
                            <ng-select [items]="accountTreeList" [(ngModel)]="accountTreeType" [ngModelOptions]="{standalone: true}" placeholder="Select item" appendTo="body" (change)="onAccountTreeChange($event)">
                            </ng-select>
                            <i class="fa fa-user icon"></i>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12" [ngSwitch]="safeModel.AccountTreeType">
                        <app-farm-select *ngSwitchCase="1" (entityEmitter)="onFarmChange($event)" [id]="safeModel.AccountId"></app-farm-select>
                        <app-station-select *ngSwitchCase="2" (entityEmitter)="onStationChange($event)" [id]="safeModel.AccountId"></app-station-select>
                        <app-driver-select *ngSwitchCase="3" (entityEmitter)="onDriverChange($event)" [id]="safeModel.AccountId"></app-driver-select>
                        <app-reaper-select *ngSwitchCase="4" (entityEmitter)="onReaperChange($event)" [id]="safeModel.AccountId"></app-reaper-select>
                        <app-selector-select *ngSwitchCase="5" (entityEmitter)="onSelectorChange($event)" [id]="safeModel.AccountId"></app-selector-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <input type="number" id="Incoming" name="Incoming" [(ngModel)]="safeModel.Incoming" class="form-control" placeholder="{{ 'Incoming' | translate }}">
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <input type="number" id="Outcoming" name="Outcoming" [(ngModel)]="safeModel.Outcoming" class="form-control" placeholder="{{ 'Outcoming' | translate }}">
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <input type="text" id="RecieptNumber" name="RecieptNumber" [(ngModel)]="safeModel.RecieptNumber" class="form-control" placeholder="{{ 'RecieptNumber' | translate }}">
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <textarea id="Description" name="Description" class="form-control" [(ngModel)]="safeModel.Description" placeholder="{{ 'Description' | translate }}"
                            rows="4"></textarea>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-primary" (click)="save(safeForm)" [mat-dialog-close]="true" translate>Yes</button>
                    </div>
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-warning" (click)="hide()" translate>No</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>