<label translate>Car-Driver</label>
<div class="input-container">
    <ng-select [items]="driverList" 
        bindLabel="CarPlate" 
        placeholder="Select item" 
        appendTo="body" 
        [(ngModel)]="selected"
        (change)="onDriverChange()">

        <ng-template ng-label-tmp let-item="item">
                {{item.CarPlate}}-{{item.FullName}}
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                {{item.CarPlate}}-{{item.FullName}}
            </ng-template>

</ng-select>
        <i class="fa fa-user icon"></i>
</div>