<div class="mainContent">
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2">
      <h2 class="pageTitle" translate>ReaperDetails</h2>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
      <h4 class="header-m">
        <span *ngIf="paidUpTotal - balanceTotal < 0" [class.lbl-warning]="paidUpTotal - balanceTotal < 0">
          <span translate>Total</span>: {{(paidUpTotal - balanceTotal) | number:'1.2-2'}}</span>
        <span *ngIf="paidUpTotal - balanceTotal > 0" [class.lbl-success]="paidUpTotal - balanceTotal > 0">
          <span translate>Total</span>: {{(paidUpTotal - balanceTotal) | number:'1.2-2'}}</span>
      </h4>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
      <h4 class="header-m" translate>{{'BalanceTotal'|translate}}: {{balanceTotal | number:'1.2-2'}}</h4>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
      <h4 class="header-m">{{'PaidUpTotal'|translate}}: {{paidUpTotal | number:'1.2-2'}}</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <app-data-list [properties]="properties" [list]="reaperDetailList" (deleteRow)="delete($event)"  (changePagination)="onChangePagination($event)"
        [total]="total" [isReadonly]="'true'">
      </app-data-list>
    </div>
    <div class="col-lg-4">
      <app-data-list [properties]="reaperAccountProperties" [list]="reaperAccountList" [total]="reaperAccountTotal" [isReadonly]="'true'" (changePagination)="onChangeAccountPagination($event)">
      </app-data-list>
    </div>
  </div>
  <button (click)="print()" class="btn btn-info">طباعة</button>
  
</div>