<div id="sidebar-nav" class="sidebar">
	<div class="sidebar-scroll">
		<nav>
			<ul class="nav">
				<li>
					<a [routerLink]="['/layout/dashboard']">
						<i class="lnr lnr-home"></i>
						<span translate>Dashboard</span>
					</a>
				</li>
				<li>
					<a href="#supplierPages" data-toggle="collapse" class="collapsed" aria-expanded="false">
						<i class="lnr lnr-file-empty"></i>
						<span translate>Suppliers</span>
						<i class="icon-submenu lnr lnr-chevron-left"></i>
					</a>
					<div id="supplierPages" class="collapse" aria-expanded="false" style="height: 0px;">
						<ul class="nav">
							<li>
								<a [routerLink]="['/layout/farm']">
									<span translate>Farms</span>
								</a>
							</li>

							<!-- <li>
								<a [routerLink]="['/layout/income']">
									<span translate>Incomes</span>
								</a>
							</li> -->
						</ul>
					</div>
				</li>

				<li>
					<a href="#clientPages" data-toggle="collapse" class="collapsed" aria-expanded="false">
						<i class="lnr lnr-file-empty"></i>
						<span translate>Clients</span>
						<i class="icon-submenu lnr lnr-chevron-left"></i>
					</a>
					<div id="clientPages" class="collapse" aria-expanded="false" style="height: 0px;">
						<ul class="nav">
							<li>
								<a [routerLink]="['/layout/station']">
									<span translate>Stations</span>
								</a>
							</li>
							<!-- <li>
								<a [routerLink]="['/layout/outcome']">
									<span translate>Outcomes</span>
								</a>
							</li> -->
						</ul>
					</div>
				</li>

				<li>
					<a [routerLink]="['/layout/transaction/transaction-list']">
						<i class="lnr lnr-home"></i>
						<span translate>Transactions</span>
					</a>
				</li>
				<li>
					<a [routerLink]="['/layout/safe']" class="">
						<i class="lnr lnr-home"></i>
						<span translate>Safe</span>
					</a>
				</li>

				<li>
					<a href="#transferPages" data-toggle="collapse" class="collapsed" aria-expanded="false">
						<i class="lnr lnr-bus"></i>
						<span translate>Transfer</span>
						<i class="icon-submenu lnr lnr-chevron-left"></i>
					</a>
					<div id="transferPages" class="collapse" aria-expanded="false" style="height: 0px;">
						<ul class="nav">
							<li>
								<a [routerLink]="['/layout/driver']">
									<span translate>Drivers</span>
								</a>
							</li>
							<!-- <li>
								<a [routerLink]="['/layout/driver/transfer-list']">
									<span translate>Transfers</span>
								</a>
							</li> -->
						</ul>
					</div>
				</li>

				<li>
					<a href="#empoloyeePages" data-toggle="collapse" class="collapsed" aria-expanded="false">
						<i class="lnr lnr-file-empty"></i>
						<span translate>Employee</span>
						<i class="icon-submenu lnr lnr-chevron-left"></i>
					</a>
					<div id="empoloyeePages" class="collapse" aria-expanded="false" style="height: 0px;">
						<ul class="nav">
							<li>
								<a [routerLink]="['/layout/selector']">
									<span translate>Selectors</span>
								</a>
							</li>
							<li>
								<a [routerLink]="['/layout/reaper']">
									<span translate>Reapers</span>
								</a>
							</li>
						</ul>
					</div>
				</li>


				<li>
					<a href="#debitPages" data-toggle="collapse" class="collapsed" aria-expanded="false">
						<i class="lnr lnr-file-empty"></i>
						<span translate>Debit</span>
						<i class="icon-submenu lnr lnr-chevron-left"></i>
					</a>
					<div id="debitPages" class="collapse" aria-expanded="false" style="height: 0px;">
						<ul class="nav">
							<li>
								<a [routerLink]="['/layout/debit-borrow']" class="" translate>Borrow</a>
							</li>
							<li>
								<a [routerLink]="['/layout/debit-current']" class="" translate>Current</a>
							</li>

						</ul>
					</div>
				</li>
				<li>
					<a href="#creditPages" data-toggle="collapse" class="collapsed" aria-expanded="false">
						<i class="lnr lnr-file-empty"></i>
						<span translate>Credit</span>
						<i class="icon-submenu lnr lnr-chevron-left"></i>
					</a>
					<div id="creditPages" class="collapse" aria-expanded="false" style="height: 0px;">
						<ul class="nav">
							<li>
								<a [routerLink]="['/layout/credit-borrow']" class="" translate>Borrow</a>
							</li>
							<li>
								<a [routerLink]="['/layout/credit-current']" class="" translate>Current</a>
							</li>
							<li>
								<a [routerLink]="['/layout/salary']" class="" translate>Salary</a>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</nav>
	</div>
</div>