<div class="container-fluid" id="client-page">
    <h3 class="page-title">
        <span translate>Export.PageAccountName</span> {{farmName}}</h3>
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div>
                    <button type="button" [routerLink]="['/layout/farm/export-form']" class="btn btn-info btn-lg" translate>Common.AddNewRecord</button>

                </div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th translate>Export.Date</th>
                                <th translate>Export.CarPlate</th>
                                <th translate>Export.Weight</th>
                                <th translate>Export.Pardon</th>
                                <th translate>Export.WeightAfterPardon</th>
                                <th translate>Export.Price</th>
                                <th translate>Export.Debit</th>
                                <th translate>Export.Credit</th>
                                <th translate>Export.Total</th>
                                <th translate>Export.Notes</th>

                                <!-- <th translate></th> -->
                            </tr>
                        </thead>
                        <!-- <thead>
                            <tr>
                                <th>#</th>
                                <th>
                                    <input type="text" id="date" name="date" [(ngModel)]="searchModel.date" class="form-control" placeholder="{{ 'Export.Date' | translate }}"
                                        (ngModelChange)="getAllExport()">
                                </th>
                                <th>
                                    <input type="text" id="carPlate" name="carPlate" [(ngModel)]="searchModel.carPlate" class="form-control" placeholder="{{ 'Export.CarPlate' | translate }}"
                                        (ngModelChange)="getAllExport()">
                                </th>
                                <th>
                                    <input type="text" id="weight" name="weight" [(ngModel)]="searchModel.weight" class="form-control" placeholder="{{ 'Export.Weight' | translate }}"
                                        (ngModelChange)="getAllExport()">
                                </th>
                                <th>
                                    <input type="text" id="pardon" name="pardon" [(ngModel)]="searchModel.pardon" class="form-control" placeholder="{{ 'Export.Pardon' | translate }}"
                                        (ngModelChange)="getAllExport()">
                                </th>
                                <th>
                                    <input type="text" id="weightAfterPardon" name="weightAfterPardon" [(ngModel)]="searchModel.weightAfterPardon" class="form-control"
                                        placeholder="{{ 'Export.WeightAfterPardon' | translate }}" (ngModelChange)="getAllExport()">
                                </th>
                                <th>
                                    <input type="text" id="price" name="price" [(ngModel)]="searchModel.price" class="form-control" placeholder="{{ 'Export.Price' | translate }}"
                                        (ngModelChange)="getAllExport()">
                                </th>
                                <th>
                                    <input type="text" id="debit" name="debit" [(ngModel)]="searchModel.debit" class="form-control" placeholder="{{ 'Export.Debit' | translate }}"
                                        (ngModelChange)="getAllExport()">
                                </th>
                                <th>
                                    <input type="text" id="credit" name="credit" [(ngModel)]="searchModel.credit" class="form-control" placeholder="{{ 'Export.Credit' | translate }}"
                                        (ngModelChange)="getAllExport()">
                                </th>
                                <th>
                                    <input type="text" id="total" name="total" [(ngModel)]="searchModel.total" class="form-control" placeholder="{{ 'Export.Total' | translate }}"
                                        (ngModelChange)="getAllExport()">
                                </th>
                                <th>
                                    <input type="text" id="notes" name="notes" [(ngModel)]="searchModel.notes" class="form-control" placeholder="{{ 'Export.Notes' | translate }}"
                                        (ngModelChange)="getAllExport()">
                                </th>

                                <th translate></th>
                            </tr>
                        </thead> -->
                        <tbody>
                            <tr *ngFor="let item of exportList;let i = index">
                                <td>{{i+1}}</td>
                                <td>{{item.date | date: 'dd/MM/yyyy' }}</td>
                                <td>{{item.carPlate}}</td>
                                <td>{{item.weight}}</td>
                                <td>{{item.pardon}}</td>
                                <td>{{item.weightAfterPardon}}</td>
                                <td>{{item.price}}</td>
                                <td>{{item.debit}}</td>
                                <td>{{item.credit}}</td>
                                <td>{{item.total}}</td>
                                <td>{{item.notes}}</td>
                                <!-- <td>
                                    <i class="fa fa-pencil" [routerLink]="['/layout/farm/export-form',item.Id]"></i>
                                    <i class="fa fa-trash" (click)="showConfirmDialog(item.Id)"></i>
                                </td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <app-pagination [total]="total" [scroll]="'client-page'" (changePagination)="changePagination($event)">
            </app-pagination>
        </div>
    </div>
</div>